/* @import "null.css"; */

p {
	color: red;
	/* font-style: oblique; */
}
p span {
	color: lightgreen;
}
span {
	color: grey;
}
p {
	color: green;
}

h1 {
	color: darkkhaki;
	font-size: 40px;
	text-indent: 70px;
}

h2 {
	color: darkseagreen;
}
ul {
	color: darkmagenta;
}
li {
	color: dimgray;
}
#block {
	color: green;
}
div.text {
	color: khaki;
}
.text {
	color: pink;
}
.text {
	color: green;
}
.paragraph {
	color: grey;
	font-size: 14px;
}

div {
	color: red;
}

#block {
	color: grey;
}
.name {
	color: blue;
}
p {
	/* color: red; */
}
.text.big-red.paragraph {
	color: lightblue;
}

.name {
	color: red;
}

/* Вложенность и приоритетность */

p span {
	color: green;
}
span {
	color: red;
}

[title="something"] {
	color: cornflowerblue;
}
.about_text,
.block_text {
	color: greenyellow;
}
.about_text {
	color: blue;
}
[class*="text"] {
	color: black;
}

.section > p {
	color: greenyellow;
}
ul li {
	color: red;
}
.section + p {
	color: brown;
}
.vnutr ~ p {
	color: red;
}
* {
	color: grey;
}
